<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeirsPropertyDataLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <system.data>
    <DbProviderFactories>
      <add name="Microsoft SqlClient Data Provider"
        invariant="Microsoft.Data.SqlClient"
        description="Microsoft SqlClient Data Provider for SQL Server"
        type="Microsoft.Data.SqlClient.SqlClientFactory, Microsoft.Data.SqlClient, Version=2.0.20168.4, Culture=neutral, PublicKeyToken=23ec7fc2d6eaa4a5"/>
    </DbProviderFactories>
  </system.data>
    <connectionStrings>
        <add name="HeirsPropertyDataLayer.Properties.Settings.HeirsPropertyDBConnectionString"
            connectionString="Data Source=localhost\MSSQLSERVER02;Initial Catalog=HeirsPropertySQLDatabase2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <HeirsPropertyDataLayer.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </HeirsPropertyDataLayer.Properties.Settings>
    </applicationSettings>
 
</configuration>