<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HeirsPropertyDataLayer.Properties.Settings.HeirsPropertyDBConnectionString"
            connectionString="Data Source=COLDIRON\COLDBLADE;Initial Catalog=HeirsPropertyDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>